__pycache__/
*.py[cod]
*$py.class
*.pyc
.vscode/
.idea/
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.DS_Store
.pytest_cache/
coverage.xml
*.cover
.coverage
htmlcov/
/.tox/
.nox/
.mypy_cache/
.pytype/
.cache/
.idea/
*.iml
*.iws
out/
.aws/credentials
.aws/config
.aws/cli/cache/
.aws-sam/
.aws-sam-build/
.env
.env.*
secrets.json
credentials.json
*.pem
*.key
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
moto_server.log
moto_*.db
logs/
*.log